*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #111;
    overflow: hidden;
}

span{
    position: absolute;
    pointer-events: none;
}

span::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: url('google-g4addb3526_640.png');
    background-size: cover;
}